body{
    font-family: "Times New Roman", serif;
    background:white;
}

.container{
    width:700px;
    margin:auto;
}

.header{
    text-align:left;
}

.post{
    font-size:16px;
}

.postimg{
    border:1px solid black;
}

.caption{
    font-size:12px;
    color:gray;
}

.date{
    font-size:12px;
    color:gray;
}

.nav a{
    display:block;
}

.footer{
    font-size:12px;
    color:gray;
}
